
*{
    margin: 0%;
    padding: 0%;
}

p{
    margin:0%;
    padding: 0%;
}

.grilla_home{
    display: grid;
}


header{
    display: grid; 
    background-color: black;
    border-bottom: 10px solid white;   
    
}

.nombre_boton_nav{
    
    text-decoration: none;
    color: $color_texto_nav;
      
}

.boton_logo{
    display: flex;
    
}

.home_main{
    display: grid;
}

img{
    object-fit: cover;
}


footer{
    display: grid;
    background-color: black;
    border-top: 10px solid white;
}

.home_carta{
    display: grid;
}


.home_contactenos{
    display: flex;
}

.home_tienda{
    background-color: black;
   
}

#btnCarrito{
    display: flex;
    align-items: center; 
    padding-left: 10%;   
}


.titulo-tienda{
    font-family: 'Air Americana';
    font-size: 50px;
    color: white;
    text-align: center;
    padding: 2% 0% 2% 0%;
}
.container{

    h4{
        font-family: Arial, Helvetica, sans-serif;
        color:black ;
    }
    th{
        font-family: Arial, Helvetica, sans-serif;
        color:black ;
    }
    tr{
        font-family: Arial, Helvetica, sans-serif;
        color:black ; 
    }
}

.card{
background-color: black;
padding-bottom: 2%;
    h5{
        color: white;
        font-family: 'Air Americana';
    }
    img{
        @include img_platos (35%, 35% , contain);
        &:hover{
            height: 60%;
            width: 60%;
            transition: 2s;
        }
    }
    p{
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 80%;
    }
}

.home_nosotros{
    display: flex;

}

.nosotros_uno{
    display: flex;

}

ul{
    margin: 0%;
    padding: 0%;
}
@media only screen and (max-width:600px){
    header{
        height: 200px;
        width: 100%;     
    }
    footer{
        height: 300px;
        width: 100%;
    }
    

}

@media only screen and (min-width:600px){
    header{
        height: 200px;
        width: 100%;     
    }
    footer{
        height: 250px;
        width: 100%;
    }

}
